@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");
* {
  font-family: "Kumbh Sans", sans-serif;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

@theme {
  --breakpoint-first: 904px;
  --breakpoint-second: 470px;
}
